body {
  background-color: #272822;
  color: white;
  font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
}

.math-boggle {
  width: 300px;
  padding-top: 20px;
  margin: auto;
}

.button {
  width: 60px;
  height: 60px;
  text-decoration: none;
  border: 1px solid black;
  font-size: 18px;
  font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
}

.button:focus {
  outline: 0;
}

.operands .button {
  background-color: #e0e0e0;
  color: black;
}

.operands .button:hover{
  background-color: #ccc;
}

.operands .button:focus {
  outline: 0;
}

.operands .button:disabled, .operands .button:active {
  background-color: #999;
}

.feedback {
  position: absolute;
  font-size: 54px;
  font-weight: bold;
  color: green;
  width: 300px;
  height: 300px;
  line-height: 300px;
  vertical-align: center;
  text-align: center;
  pointer-events:none;
}

.hidden {
  display: none;
}

.operators .button {
  background-color: #f5923e;
  color: white;
  font-size: 24px;
}

.operators .button:hover {
  background-color: #c2732f;
}

.operators .button:active, .operators .button:focus {
  background-color: #a46026;
}

.play {
  width: 300px;
  height: 300px;
  position: absolute;
  color: white;
}

.play:disabled {
  display: none;
}

.equals {
  color: white;
  width: 300px;
  font-size: 32px;
}

.green {
  background-color: #7b9a38;
}

.green:hover {
  background-color: #688035;
}

.green:active {
  background-color: #4f6226;
}
