body {
  background-color: #272822;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

.math-boggle {
  width: 300px;
  padding-top: 20px;
  margin: auto;
}

.game-info {
  margin-bottom: 10px;
}

.operands-holder {
  float: left;
  width: 60px;
  height: 60px;
}

.visual-equation {
  position: absolute;
  pointer-events:none;
}

.active-circle {
  position: absolute;
  border: 3px solid #688035;
  margin: 9px;
  width: 36px;
  height: 36px;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  pointer-events:none;
}

.connector {
  width: 60px;
  height: 60px;
  position: absolute;
}

.line-connector {
  height: 3px;
  width: 22px;
  margin: 28.5px auto;
  background-color: #688035;
  position: relative;
}

.visual-operator {
  width: 14px;
  height: 14px;
  background-color: #f5923e;
  position: absolute;
  z-index: 10;
  margin: 23px;
  text-align: center;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  line-height: 14px;
  border-radius: 4px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, .3);
}

.button {
  width: 60px;
  height: 60px;
  text-decoration: none;
  border: 1px solid black;
  font-size: 22px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.button:focus {
  outline: 0;
}

.operands .button {
  background-color: #e0e0e0;
  color: #444;
}

.operands .button:hover{
  background-color: #efefef;
}

.operands .button:focus {
  outline: 0;
}

.operands .button:disabled, .operands .button:active {
  background-color: #aaaaaa;
}

.feedback {
  position: absolute;
  font-size: 54px;
  font-weight: 700;
  line-height: 300px;
  color: #688035;
  width: 300px;
  height: 300px;
  vertical-align: center;
  text-align: center;
  pointer-events:none;
}

.hidden {
  display: none;
}

.operators .button {
  background-color: #f5923e;
  color: white;
  font-size: 32px;
}

.caret {
  font-size: 36px;
  padding-top: 5px;
}

.operators .button:hover {
  background-color: #c2732f;
}

.operators .button:active, .operators {
  background-color: #a46026;
}

.play {
  width: 300px;
  height: 300px;
  position: absolute;
  color: white;
  z-index: 100;
}

.play:disabled {
  display: none;
}

.equals {
  color: white;
  width: 300px;
  font-size: 32px;
}

.green {
  background-color: #7b9a38;
}

.green:hover {
  background-color: #688035;
}

.green:active {
  background-color: #4f6226;
}
